*{
    margin:0;
    padding:0;
    box-sizing: border-box ;  
}

body{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




/* APLICACION DE GRID PAGE INDEX Y SERVICIOS*/

.contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 10px;
    align-items: center;
    
    grid-template-areas:"parrafo1 imagen1"
                        "imagen2 parrafo2"
                        "parrafo3 imagen3"
                        "footer footer";
}

.contenido__p1{
    grid-area: parrafo1;
}

.contenido__img1{
    
    grid-area: imagen1;
}

.contenido__p2{
    grid-area: parrafo2;
}

.contenido__img2{
    object-fit: cover;
    grid-area: imagen2;
}

.contenido__p3{
    grid-area: parrafo3;
}

.contenido__img3{
    grid-area: imagen3;
}

.pie{
    grid-area: footer;
}

/*APLICACION GRID PAGE NOSOTROS */

.contenedor__nosotros{
    display: grid;   
    gap: 10px;  
    grid-template-areas:"presentacion"
                        "nosotros"
                        "footer";
}

.presentacion{
    grid-area: presentacion;
}

.nosotros{
    grid-area: nosotros;
}


/* APLICACION DE GRID PAGE CONTACTO*/

.contenedor1{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr ;
    justify-content: center;
    grid-template-areas:"formulario formulario"
                         "footer footer";
}

.total_formulario{
    grid-area: formulario;
}

/* ESTILOS DEL ENCABEZADO Y EL NAV*/

.encabezadoBS{
    position: sticky;
    top: 0; 
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);  
    z-index: 5000;   
    opacity: 95%;   
}

  
/* ESTILOS DEL CONTENIDO DEL INDEX Y SERVICIOS*/

.contenido__img{
    border-radius: 15px;
    margin: 0;
}

.contenido__titulo{
    font-size: 26px;
    text-align: center;
    margin: 0px;   
}

.contenido__parrafo{
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 23px;
}


/* ESTILO DEL LOGO DE WPP*/
.wppLogo{
    position: fixed;    
    right: 20px;
    bottom: 20px;
    z-index: 5;
    width: 60px;
    border-radius: 50%;
}

/* ANIMACION DEL LOGO DE WPP*/
.wppLogo:hover{
    width: 90px;
    box-shadow: 4px 4px 8px  rgb(50, 155, 50);
}


/* ESTILOS DEL PIE DE PAGINA*/

.pie{
    padding-top: 10px;
    background-color: rgb(177, 199, 209);
}

.follow{
    font-size: 22px;
}
.redes{   
   
    padding: 8px;
    margin: 0;
}

.link_logo{
    width:40px;
}

.derechos{
    font-size: 18px;
    text-align: center;
    margin: 0; 
}

.links{
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
}



/* ESTILOS DEL FORMULARIO DE CONTACTO*/

.total_formulario{
    align-items: center;
    justify-content: center;
}

.formulario__titulo{
    text-align: center;
    font-size: 37px;
}

.formulario{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.formulario__field{
    width: 50%;
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20PX;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
    justify-content: center;
    align-items: center;     
}

.formulario__field__div__input{  
    border-radius: 5px;
    padding: 5px;   
    width: 80%;
}

.formulario__field__div{  
    text-align: center;
}

.formulario__label{
    margin:10px;
    display: block;
    font-weight: bold;
}

/* ESTILOS PAGE NOSOTROS*/

.presentacion{
    font-size: 24px;
}

.parrafo__nosotros{
    padding: 18px;
}

/* MEDIA QUERIES ADAPTACIOND DE TAMAÑO*/

/* se achican los tamaños de las letras */
@media screen and (max-width:990px) and (min-width:821px){
    .contenido__parrafo{    
        font-size: 20px;
        padding: 5px;
    }
    .contenido__titulo{
        font-size: 24px;         
    }

    .follow{
        font-size: 18px ;
    }
    .derechos{
        font-size: 14px;
    }

    .formulario__titulo{
        font-size: 31px;
    }

    .formulario__field{
        width: 60%;           
    }
    .presentacion{
        font-size: 22px;
    }
    .parrafo__nosotros{
        padding: 16px;
    }
}


/* se organiza contenido uno arriba del otro, se cambian tamaño de textos, se cambia comportamiento del header*/
@media screen and (max-width:820px) and (min-width:481px){
    .contenedor{
        display: grid;
        grid-template-areas:"header"
                            "parrafo1"
                             "imagen1"
                             "parrafo2"
                             "imagen2"
                             "parrafo3"
                             "imagen3"
                             "footer ";
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        gap: 10;
        height: 100vh;
    }
  
    .encabezadoBS{
        position: relative;
        top: 0;   
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(255, 255, 255);
    }
    
    .contenido__titulo{
        font-size: 22px;
         
    }
   
    .contenido__parrafo{    
        font-size: 18px;
        padding: 5px;
        margin: 5px;
    }

    .follow{
        font-size: 16px ;
    }
    .derechos{
        font-size: 12px;
    }

    .link_logo{
        width:5%
    }    

    .formulario__titulo{
        font-size: 28px;
    }

    .formulario__field{
        width: 75%;
           
    }
    .presentacion{
        font-size: 20px;
    }

    .parrafo__nosotros{
        padding: 16px;
    }

}
/* se mantiene el mismo orden q el anterior y se modifica el tamaño del texto*/
@media screen and (max-width:480px) {
    .contenedor{
        display: grid;
        grid-template-areas:"header"
                            "parrafo1"
                             "imagen1"
                             "parrafo2"
                             "imagen2"
                             "parrafo3"
                             "imagen3"
                             "footer ";
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        gap: 10;
        height: 100vh;
    }
  
    .encabezadoBS{
        position: relative;
        top: 0;   
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(255, 255, 255);
    }
    
    .contenido__titulo{
        font-size: 20px;         
    }
   
    .contenido__parrafo{    
        font-size: 14px;
        padding: 5px;
    }

    .follow{
        font-size: 14px ;
    }
    .derechos{
        font-size: 10px;
    }

    .link_logo{
        width:7%
    }

    .formulario__titulo{
        font-size: 25px;
    }

    .formulario__field{
        width: 90%;
           
    }

    .presentacion{
        font-size: 18px;
    }
    .parrafo__nosotros{
        padding: 10px;
    }
    
}


